body {
    background-color: darkgray;
}

h1 {
    text-align: center;
}

.foo {
    background-color: lightblue;
}

p {
    background-color: white;
}

input {
    background-color: white;
}

.para {
    background-color: green;
}
